*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-forms{
    display: flex;
    gap: 20px;
    align-items: flex-start;
    padding: 20px;

}

body{
    background: #272829;
}

#form-register{
    width: 400px;
    background: #4d535a;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
}

.view-Products{
    width: 400px;
    background: #484b4e;
    padding: 30px;
    margin: 0px;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
    flex: 1px;
}
#form-register h4{
    font-size: 22px;
    margin-bottom: 20px;
}
.view-Products h2{
    font-size: 32px;
    margin-bottom: 20px;
}
.view-Products #numberProducts{
    font-size: 22px;
    margin-bottom: 20px;
}
.controls{
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #adadad;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
}

#form-register .butons{
    width: 100%;
    background: #4d535a;
    border: none;
    padding: 10px;
    color: white;
    margin: 16px 0px;
    font-size: 16px;
    font-family: 'calibri';
}

#listProducts{
    margin-left: 10px;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
}

.btn-delete{
    background-color: #ff4d4d;
    color: white;
    width: 45%;
    border: none;
    padding: 3px;
    margin: 16px;
    font-family: 'calibri';
    border-radius: 3px;
    font-size: 16px;
}
.btn-edit{
    background-color: #4caf50;
    color: white;
    width: 45%;
    border: none;
    padding: 3px;
    margin: 16px;
    font-family: 'calibri';
    border-radius: 3px;
    font-size: 16px;
}
.btn-Edit{
    background-color: #4caf50;
    color: white;
    width: 45%;
    border: none;
    padding: 3px;
    margin: 16px;
    font-family: 'calibri';
    border-radius: 3px;
    font-size: 16px;
}
#opcions{
    width: 30%;
    background: #717172;
    border: none;
    color: white;
    font-family: 'calibri';
    font-size: 19px;
    border-radius: 3px;
}